.producto{
    height: 340px;
    width: 280px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    .producto-info{
        height: 40px;
        width: 100%;
        transition: all .4s;
        background-color: $azulOscuro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $blanco;
        position: relative;
        .nombre{
            width: 90%;
            height: 20px;
            position: absolute;
            top: 10px;
            text-align: center;
        }
        .producto-info-contenido{
            position: absolute;
            transition: all .2s;
            opacity: 0;
            height: 100px;
            width: 100%;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span{
                height: 30px;
                width: 100%;
                text-align: center;
            }
            button{
                font-size: 10px;
                font-family: $fuente1;
                height: 30px;
                width: 100px;
                background: none;
                border: 1px solid $blanco;
                border-radius: 15px;
                color: $blanco;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                    background-color: $blanco;
                    color: $azulOscuro;
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &:hover .nombre{
        border-bottom: solid 1px $blanco;
    }
    &:hover .producto-info{
        height: 120px;
        opacity: .9;
    }
    &:hover .producto-info-contenido{
        opacity: 1;    
    }
    .producto-info-ampliado, .cerrar, .imagenes-todas, .imagenes-todas label{
        display: none;
    }
}



.producto-ampliado{
    width: 950px;
    height: 450px;
    display: flex;
    flex-direction: row;
    position: relative;
    .producto-info{
        display: none;
    }
    .producto-info-ampliado{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 60%;
        background-color: $azulOscuro;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: $blanco;
        position: relative;
        .nombre{
            margin-top: 20px;
            padding: 0 10px 5px 10px;
            border-bottom: $celeste solid 1px;
            font-family: $fuente2;
            font-size: 24px;
            color: $celeste;
        }
        .descripcion{
            margin-top: 10px;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                visibility: hidden;
                position: absolute;
                bottom: 0;
            }
            .detalle:checked + label, .cuidado:checked + label{
                border-bottom: 2px solid $blanco;
            }
            label{
                font-size: 15px;
                height: 75%;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s;
            }
        }
        .detalles, .cuidados{
            position: absolute;
            font-family: $fuente1;
            top: 110px;
            width: 100%;

            li{
                margin-bottom: 4px;
                list-style: none;
            }
        }
        .detalles{
            visibility: visible;
            display: flex;
            flex-direction: column;
            height: 300px;
            justify-content: space-evenly;
            align-items: center;
            div{
                display: flex;
                flex-direction: column;
                height: 50%;
                justify-content: space-evenly;
                align-items: center;
                span{
                    font-size: 20px;
                    border-bottom: 1px solid $celeste;
                    padding-bottom: 5px;
                    font-family: $fuente2;
                }
            }
        }
        .cuidados{
            top: 120px;
            visibility: hidden;
            padding-left: 30px;
            padding-right: 15px;
            text-align: left;
            li{
                margin-bottom: 14px;
                span{
                    color: $celeste;
                }
            }
        }
        .fade{
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(0deg, $azulOscuro 0%, transparent 50%);
        }
        
    }
    .producto-imagenes{
        height: 100%;
        width: 40%;
        background-color: $celeste;
        display: flex;
        flex-direction: column;
        .imagen-principal{
            height: 80%;
            width: 100%;
            background-color: bisque;
            background-size: cover;
            background-position: center;
        }
        .imagenes-todas{
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            input{
                visibility: hidden;
                position: absolute;
                top:0
            }
            input[type=radio]:checked + label{
                transform: scale(0.9,0.9);
                border: 3px solid $azulOscuro;
            }
            label{
                height: 100%;
                width: 25%;
                background-size: cover;
                background-position: center;
                display: flex;
                transition: all .1s;
                &:hover{
                    transform: scale(0.9,0.9);
                }
            }
        }
    }
    .cerrar{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blanco;
        top: 10px;
        left: 10px;
        font-size: 18px;
        &:hover i{
            cursor: pointer;
            font-size: 20px;
        }
        &:hover{
            top: 9px;
            left: 9px;
        }
    }
}

@media screen and(max-width: 1080px) {
    .producto-ampliado{
        width: 780px;
    }
}

@media screen and(max-width: 880px) {
    .producto-ampliado{
        width: 500px;
        height: 700px;
        flex-direction: column;
        .producto-info-ampliado{
            width: 100%;
            height: 50%;
            font-size: 18px;
            .detalles, .cuidados{
                height: 200px;
            }
            .cuidados{
                font-size: 13px;
                li{
                    margin-bottom: 6px;
                }
            }
        }
        .producto-imagenes{
            width: 100%;
            height: 50%;
            flex-direction: row;
            .imagen-principal{
                height: 100%;
                width: 80%;
            }
            .imagenes-todas{
                height: 100%;
                width: 20%;
                display: flex;
                flex-direction: column;
                label{
                    height: 25%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {
    .producto-ampliado{
        .producto-info-ampliado{
            .descripcion{
                height: 30px;
                margin-top: 5px;   
            }
            .cuidados{
                height: 245px;
                top: 100px;
                padding: 0;
                padding-left: 5px;
                overflow: scroll;
                li{
                    margin: 2px;
                }
                
            }
        }
    }
    
    
}

@media screen and (max-width: 500px) {
    .producto{
        height: 270px;
        width: 220px;
    }
    .producto-ampliado{
        width: 350px;
        height: 600px;
        .producto-info-ampliado{
            font-size: 13px;
            .descripcion{
                font-size: 15px;
            }
            .detalles, .cuidados{
                top: 95px;
                height: 200px;
            }
            .detalles{
                overflow-y: scroll;
                overflow-x: hidden;
                div{
                    font-size: 14px;
                }
            }
            .fade{
                position: absolute;
                bottom: 0;
                height: 30px;
                width: 100%;
                background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(39, 54, 68,1));
                z-index: 3;
                left: 0;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .producto{
        height: 220px;
        width: 180px;
        margin: 10px;
    }
    .producto-ampliado{
        width: 350px;
        height: 600px;
        .producto-info-ampliado{
            font-size: 12px;
        }
        .producto-imagenes{
            display: flex;
            flex-direction: column;
            .imagen-principal{
                height: 80%;
                width: 100%;
            }
            .imagenes-todas{
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                label{
                    height: 100%;
                    width: 25%;
                }
            }
        }
    }
}