@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #f6f3ea;
}

.novedad {
  height: 40px;
  width: 100%;
  background-color: #a1caf1;
  z-index: 3;
  display: flex;
  flex-direction: row;
  opacity: 0.9;
  position: sticky;
  top: 0;
}
.novedad .novedad--texto {
  height: 100%;
  width: 75%;
  margin-left: 15%;
  text-align: center;
  line-height: 40px;
  color: #273644;
}
.novedad .novedad--check {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.novedad .novedad--check input[type=checkbox] + label i {
  cursor: pointer;
}
.novedad .novedad--check input[type=checkbox] {
  visibility: hidden;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #273644;
  margin-bottom: 2px;
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: rgba(39, 54, 68, 0.09) 0px 2px 1px, rgba(39, 54, 68, 0.09) 0px 4px 2px, rgba(39, 54, 68, 0.09) 0px 8px 4px, rgba(39, 54, 68, 0.09) 0px 16px 8px, rgba(39, 54, 68, 0.09) 0px 32px 16px;
}
header .logo {
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 60px;
  color: #f6f3ea;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
}
header .barra {
  width: 190px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
header .barra .tienda, header .barra .favoritos {
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  color: #f6f3ea;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
header .barra .tienda a, header .barra .favoritos a {
  padding-bottom: 2px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #f6f3ea;
  text-decoration: none;
}
header .barra .tienda div, header .barra .favoritos div {
  height: 30px;
  position: absolute;
  width: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
header .barra .tienda:hover div, header .barra .favoritos:hover div {
  width: 100%;
  border-bottom: 1px solid #f6f3ea;
}
header .barra .tienda:hover a, header .barra .favoritos:hover a {
  letter-spacing: 2px;
}
header .barra .tienda {
  width: 65px;
}
header .barra .favoritos {
  width: 105px;
  margin-left: 10px;
  padding-left: 15px;
  border-left: 1px solid #f6f3ea;
}

main {
  width: 100%;
}
main .imagenes-decorativas {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  margin-top: 10px;
}
main .imagenes-decorativas .imagenes-decorativas--div {
  background-color: #f6f3ea;
  margin: 25px;
  background-position: center;
  background-size: cover;
  position: relative;
}
main .imagenes-decorativas .imagenes-decorativas--div .imagen-texto {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  color: #f6f3ea;
  font-family: "Cormorant Garamond", serif;
  z-index: -1;
  background-color: #273644;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
main .imagenes-decorativas .imagenes-decorativas--div .imagen-texto h2 {
  cursor: pointer;
}
main .imagenes-decorativas .imagenes-decorativas--div .imagen-texto .h2-1 {
  font-size: 40px;
}
main .imagenes-decorativas .imagenes-decorativas--div .imagen-texto .h2-2 {
  font-size: 25px;
}
main .imagenes-decorativas .imagenes-decorativas--div:hover .imagen-texto {
  z-index: 1;
}
main .imagenes-decorativas #imagen-1, main .imagenes-decorativas #imagen-2, main .imagenes-decorativas #imagen-3 {
  width: 100%;
  height: 100%;
  box-shadow: rgba(39, 54, 68, 0.25) 0px 54px 55px, rgba(39, 54, 68, 0.12) 0px -12px 30px, rgba(39, 54, 68, 0.12) 0px 4px 6px, rgba(39, 54, 68, 0.17) 0px 12px 13px, rgba(39, 54, 68, 0.09) 0px -3px 5px;
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
}
main .imagenes-decorativas .imagen-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
main .imagenes-decorativas .imagen-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
main .imagenes-decorativas .imagen-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .conteiner-info {
  height: 100vh;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background-image: url(../img/collarMandalaMuestra.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 2;
}
main .conteiner-info .info {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 150px;
  transition: all 0.5s;
  background-color: #273644;
  filter: opacity(80%);
}
main .conteiner-info .info p {
  text-align: center;
  font-size: 30px;
  color: #f6f3ea;
  font-family: "Gabriela", serif;
}

.nuevos, .ofertas {
  width: 100%;
  padding: 0 10% 0 10%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.nuevos .nuevos-titulo, .nuevos .ofertas-titulo, .ofertas .nuevos-titulo, .ofertas .ofertas-titulo {
  border-bottom: #273644 1px solid;
  color: #273644;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px 10px 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: 100px;
}
.nuevos .nuevos-titulo h2, .nuevos .ofertas-titulo h2, .ofertas .nuevos-titulo h2, .ofertas .ofertas-titulo h2 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.nuevos .nuevos-titulo a, .nuevos .ofertas-titulo a, .ofertas .nuevos-titulo a, .ofertas .ofertas-titulo a {
  font-size: 15px;
  font-family: "Gabriela", serif;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
  width: 80px;
  border: 1px solid #273644;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nuevos .nuevos-titulo a h4, .nuevos .ofertas-titulo a h4, .ofertas .nuevos-titulo a h4, .ofertas .ofertas-titulo a h4 {
  cursor: pointer;
  color: #273644;
}
.nuevos .nuevos-titulo a:hover, .nuevos .ofertas-titulo a:hover, .ofertas .nuevos-titulo a:hover, .ofertas .ofertas-titulo a:hover {
  background-color: #273644;
}
.nuevos .nuevos-titulo a:hover h4, .nuevos .ofertas-titulo a:hover h4, .ofertas .nuevos-titulo a:hover h4, .ofertas .ofertas-titulo a:hover h4 {
  color: #f6f3ea;
}
.nuevos .nuevos-productos, .nuevos .ofertas-productos, .ofertas .nuevos-productos, .ofertas .ofertas-productos {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.nuevos .nuevos-productos .producto, .nuevos .ofertas-productos .producto, .ofertas .nuevos-productos .producto, .ofertas .ofertas-productos .producto {
  height: 350px;
  width: 320px;
  background-color: #f6f3ea;
  grid-row: 2/3;
  box-shadow: rgba(39, 54, 68, 0.25) 0px 4px 8px -2px, rgba(39, 54, 68, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=inicio.css.map */
