@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #f6f3ea;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #273644;
  margin-bottom: 2px;
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: rgba(39, 54, 68, 0.09) 0px 2px 1px, rgba(39, 54, 68, 0.09) 0px 4px 2px, rgba(39, 54, 68, 0.09) 0px 8px 4px, rgba(39, 54, 68, 0.09) 0px 16px 8px, rgba(39, 54, 68, 0.09) 0px 32px 16px;
}
header .logo {
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #f6f3ea;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}
header .barra {
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header .barra .tienda {
  width: 80px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  color: #f6f3ea;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
header .barra .tienda a {
  padding-bottom: 2px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #f6f3ea;
  text-decoration: none;
}
header .barra .tienda div {
  height: 30px;
  position: absolute;
  width: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
header .barra .tienda:hover div {
  width: 100%;
  border-bottom: 1px solid #f6f3ea;
}
header .barra .tienda:hover a {
  letter-spacing: 2px;
}

@media screen and (min-width: 575px) {
  header .logo {
    margin-left: 40px;
    font-size: 25px;
  }
  header .barra .tienda {
    font-size: 15px;
  }
}
@media screen and (min-width: 800px) {
  header .logo {
    margin-left: 60px;
    font-size: 40px;
  }
  header .barra {
    margin-right: 20px;
  }
  header .barra .tienda {
    font-size: 18px;
  }
  header .barra .tienda {
    width: 65px;
  }
}
/* Footer */
.footer {
  height: 150px;
  padding: 30px 0;
  background-color: #e4e0d6;
  display: flex;
  align-items: center;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.footer p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  color: #938560;
}

.social-icons {
  display: flex;
  column-gap: 15px;
}

.social-link {
  background-color: #b1a891;
  text-decoration: none;
  color: #e4e0d6;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.social-link i {
  cursor: pointer;
}
.social-link i.fa-instagram {
  font-size: 1.6rem;
}

.social-link:hover {
  background-color: #9e9378;
}

@media screen and (max-width: 672px) {
  .footer-container {
    justify-content: center;
    row-gap: 20px;
  }

  .footer p {
    text-align: center;
  }
}
/* End of Footer */
.aviso {
  height: 80px;
  width: 100%;
  background-color: #a1caf1;
  z-index: 3;
  display: flex;
  flex-direction: row;
  opacity: 0.9;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}
.aviso .aviso--texto {
  height: 100%;
  width: 75%;
  padding: 5px;
  text-align: center;
  color: #273644;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aviso .aviso--check {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aviso .aviso--check input[type=checkbox] + label i {
  cursor: pointer;
}
.aviso .aviso--check input[type=checkbox] {
  visibility: hidden;
}

main {
  width: 100%;
}
@media screen and (max-width: 575px) {
  main .imagenes-decorativas {
    width: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 250px 250px 250px;
    justify-content: center;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
  }
  main .imagen-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .imagen-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .imagen-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
main .imagenes-decorativas--div {
  background-color: #f6f3ea;
  margin: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main .imagenes-decorativas--div .imagen-texto {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  color: #f6f3ea;
  font-family: "Cormorant Garamond", serif;
  z-index: -1;
  background-color: #273644;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
main .imagenes-decorativas--div .imagen-texto h2 {
  cursor: pointer;
}
main .imagenes-decorativas--div .imagen-texto .h2-1 {
  font-size: 25px;
}
main .imagenes-decorativas--div .imagen-texto .h2-2 {
  font-size: 25px;
}
main .imagenes-decorativas--div:hover .imagen-texto {
  z-index: 1;
}
main #imagen-1, main #imagen-2, main #imagen-3 {
  width: 100%;
  height: 100%;
  box-shadow: rgba(39, 54, 68, 0.25) 0px 54px 55px, rgba(39, 54, 68, 0.12) 0px -12px 30px, rgba(39, 54, 68, 0.12) 0px 4px 6px, rgba(39, 54, 68, 0.17) 0px 12px 13px, rgba(39, 54, 68, 0.09) 0px -3px 5px;
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
}
main .conteiner-info {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background-image: url(../img/collarMandalaMuestra.jpeg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}
main .conteiner-info .info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background-color: #273644;
  filter: opacity(60%);
  padding-left: 10px;
  padding-right: 10px;
}
main .conteiner-info .info p {
  text-align: center;
  font-size: 25px;
  color: #f6f3ea;
  font-family: "Gabriela", serif;
}
main .nuevos, main .ofertas {
  width: 100%;
  padding: 0 10% 0 10%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
main .nuevos .nuevos-titulo, main .nuevos .ofertas-titulo, main .ofertas .nuevos-titulo, main .ofertas .ofertas-titulo {
  border-bottom: #273644 1px solid;
  color: #273644;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px 10px 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: 100px;
}
main .nuevos .nuevos-titulo h2, main .nuevos .ofertas-titulo h2, main .ofertas .nuevos-titulo h2, main .ofertas .ofertas-titulo h2 {
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
}
main .nuevos .nuevos-titulo a, main .nuevos .ofertas-titulo a, main .ofertas .nuevos-titulo a, main .ofertas .ofertas-titulo a {
  font-size: 10px;
  font-family: "Gabriela", serif;
  text-decoration: none;
  cursor: pointer;
  height: 20px;
  width: 60px;
  border: 1px solid #273644;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .nuevos .nuevos-titulo a h4, main .nuevos .ofertas-titulo a h4, main .ofertas .nuevos-titulo a h4, main .ofertas .ofertas-titulo a h4 {
  cursor: pointer;
  color: #273644;
}
main .nuevos .nuevos-titulo a:hover, main .nuevos .ofertas-titulo a:hover, main .ofertas .nuevos-titulo a:hover, main .ofertas .ofertas-titulo a:hover {
  background-color: #273644;
}
main .nuevos .nuevos-titulo a:hover h4, main .nuevos .ofertas-titulo a:hover h4, main .ofertas .nuevos-titulo a:hover h4, main .ofertas .ofertas-titulo a:hover h4 {
  color: #f6f3ea;
}
main .nuevos .nuevos-productos, main .nuevos .ofertas-productos, main .ofertas .nuevos-productos, main .ofertas .ofertas-productos {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
main .consideraciones {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 1.7rem;
  padding: 1.5rem 0 2.5rem 0;
  border-top: 1px solid #273644;
  border-bottom: 1px solid #273644;
  flex-direction: column;
}
main .consideraciones .consideracion {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .consideraciones .consideracion .consideracion--logo i {
  font-size: 40px;
  flex-grow: 1;
  color: #273644;
}
main .consideraciones .consideracion .consideracion__texto h4 {
  font-family: "Gabriela", serif;
  font-size: 1.2rem;
  color: black;
}
main .consideraciones .consideracion .consideracion__texto p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}
main .slider {
  padding: 40px 0;
}
main .slider-container {
  width: 100%;
  max-width: 300px;
  margin-inline: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
  gap: 1rem;
}
main .slider-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main .slider-container__arrow {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
main .slider-container__arrow:hover {
  transform: scale(1.1);
}
main .slider-container__body {
  grid-column: 2/3;
  grid-row: 1/2;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.6s ease-in-out;
}
main .slider-container__body.slider-container__body--show {
  opacity: 1;
  pointer-events: unset;
}
main .slider-container__picture img {
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
main .slider-container__text-container {
  max-width: 80ch;
}
main .slider-container__text-container .nombre-cliente {
  font-family: "Gabriela", serif;
  font-size: 14px;
  color: #273644;
  text-align: center;
}
main .slider-container__text-container .review {
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 575px) {
  .aviso {
    height: 70px;
  }

  .imagenes-decorativas {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 250px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    margin-top: 10px;
  }
  .imagenes-decorativas .imagenes-decorativas--div .imagen-texto .h2-1 {
    font-size: 35px;
  }

  .imagen-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .imagen-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .imagen-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  main .nuevos .nuevos-titulo h2, main .nuevos .ofertas-titulo h2, main .ofertas .nuevos-titulo h2, main .ofertas .ofertas-titulo h2 {
    font-size: 25px;
  }
  main .slider-container {
    max-width: 600px;
    grid-template-columns: 70px 1.2fr 70px;
  }
  main .slider .slider-container__text-container .nombre-cliente {
    font-size: 20px;
  }
  main .slider .slider-container__text-container .review {
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) {
  main .conteiner-info {
    height: 600px;
    background-position: center;
  }
}
@media screen and (min-width: 800px) {
  .imagenes-decorativas {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    margin-top: 10px;
  }

  .imagen-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .imagen-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .imagen-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  main .conteiner-info .info {
    width: 100%;
    filter: opacity(70%);
    padding-left: 100px;
    padding-right: 100px;
  }
  main .conteiner-info .info p {
    text-align: center;
    font-size: 28px;
  }
  main .nuevos .nuevos-titulo h2, main .nuevos .ofertas-titulo h2, main .ofertas .nuevos-titulo h2, main .ofertas .ofertas-titulo h2 {
    font-size: 25px;
  }
  main .nuevos .nuevos-titulo a, main .nuevos .ofertas-titulo a, main .ofertas .nuevos-titulo a, main .ofertas .ofertas-titulo a {
    font-size: 15px;
    height: 30px;
    width: 80px;
  }
}
@media screen and (min-width: 1000px) {
  .aviso {
    height: 60px;
  }

  main .conteiner-info .info {
    width: 50%;
    filter: opacity(80%);
    padding-left: 50px;
    padding-right: 50px;
  }
  main .consideraciones {
    flex-direction: row;
  }
  main .slider-container {
    grid-template-columns: 30px 2fr 30px;
  }
  main .slider-container__body {
    flex-direction: row;
  }
  main .slider .slider-container__picture img {
    height: 150px;
  }

  .imagenes-decorativas {
    grid-template-columns: 600px 400px;
    grid-template-rows: 300px 300px;
  }

  .imagen-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .imagen-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .imagen-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=inicio.css.map */
