@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #f6f3ea;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(52, 83, 158);
  margin-bottom: 2px;
  box-shadow: 0px 0px 5px 1px rgb(52, 83, 158);
}
header .logo {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 100px;
}
header .barra {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
header .barra .busqueda {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px #a1caf1 solid;
  padding-top: 15px;
  padding-left: 17px;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  color: #a1caf1;
}
header .barra .busqueda:hover {
  width: 150px;
  border-radius: 10px;
}
header .barra .busqueda #busqueda {
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  border: none;
  padding-left: 20px;
  padding-bottom: 17px;
  color: #a1caf1;
}
header .barra .busqueda #busqueda:hover {
  cursor: text;
}
header .barra .busqueda #busqueda:placeholder-shown {
  opacity: 0;
  transition: all 0.3s;
}
header .barra .busqueda:hover #busqueda:placeholder-shown {
  opacity: 0.7;
}
header .barra .favoritos {
  height: 50px;
  width: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gabriela", serif;
  color: #a1caf1;
  border-radius: 30px;
  margin-left: 10px;
  border: 1px #a1caf1 solid;
  transition: all 0.5s;
}
header .barra .favoritos span {
  position: absolute;
  opacity: 0;
  transition: all 0.1s;
}
header .barra .favoritos:hover {
  width: 150px;
  border-radius: 10px;
  justify-content: flex-start;
  padding-left: 12px;
}
header .barra .favoritos:hover span {
  width: 50px;
  margin-left: 5px;
  position: relative;
  opacity: 1;
  transition: all 0.8s;
}

main {
  width: 100%;
}
main .imagenes-decorativas {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Recurso7.png);
  background-repeat: space;
  background-attachment: fixed;
  background-position: center;
}
main .imagenes-decorativas .imagenes-decorativas--div {
  height: 310px;
  width: 290px;
  background-color: #f6f3ea;
  margin: 30px;
}
main .imagenes-decorativas .imagen-1 {
  margin-top: 20px;
  box-shadow: rgba(52, 83, 158, 0.25) 0px 54px 55px, rgba(52, 83, 158, 0.12) 0px -12px 30px, rgba(52, 83, 158, 0.12) 0px 4px 6px, rgba(52, 83, 158, 0.17) 0px 12px 13px, rgba(52, 83, 158, 0.09) 0px -3px 5px;
  background-image: url(../img/collaresDoradosMuestras.jpeg);
  background-position: center;
  background-size: cover;
}
main .imagenes-decorativas .imagen-2 {
  margin-top: 70px;
  box-shadow: rgba(52, 83, 158, 0.25) 0px 54px 55px, rgba(52, 83, 158, 0.12) 0px -12px 30px, rgba(52, 83, 158, 0.12) 0px 4px 6px, rgba(52, 83, 158, 0.17) 0px 12px 13px, rgba(52, 83, 158, 0.09) 0px -3px 5px;
  background-image: url(../img/collarEstrellaMuestra.jpeg);
  background-position: center;
  background-size: cover;
}
main .imagenes-decorativas .imagen-3 {
  margin-bottom: 100px;
  box-shadow: rgba(52, 83, 158, 0.25) 0px 54px 55px, rgba(52, 83, 158, 0.12) 0px -12px 30px, rgba(52, 83, 158, 0.12) 0px 4px 6px, rgba(52, 83, 158, 0.17) 0px 12px 13px, rgba(52, 83, 158, 0.09) 0px -3px 5px;
  background-image: url(../img/collarPiedrasMuestra.jpeg);
  background-position: center;
  background-size: cover;
}
main .conteiner-info {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url(../img/collarMandalaMuestra.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
main .conteiner-info .info {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 150px;
  transition: all 0.5s;
  background-color: rgb(52, 83, 158);
  filter: opacity(80%);
}
main .conteiner-info .info p {
  text-align: center;
  font-size: 30px;
  color: #f6f3ea;
  font-family: "Gabriela", serif;
}
main .filtros {
  margin-top: 90px;
  height: 40px;
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 150px 0 150px;
}
main .filtros .filtros-boton {
  height: 100%;
  width: 90px;
  border-bottom: rgb(52, 83, 158) 1px solid;
  transition: all 0.2s;
  color: rgb(52, 83, 158);
  font-family: "Gabriela", serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}
main .filtros .filtros-boton:hover {
  padding-bottom: 0;
  border-bottom: #a1caf1 12px solid;
  color: #a1caf1;
}

/*# sourceMappingURL=inicio.css.map */
