@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

$blanco: #f6f3ea;
$azul: #34539e;
$azulOscuro: rgb(39, 54, 68);
$celeste: #a1caf1;

$fuente1: 'Gabriela', serif;

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body{
    background-color: $blanco;
}

.novedad{
    height: 40px;
    width: 100%;
    background-color: $celeste;
    z-index: 2;
    display: flex;
    flex-direction: row;
    opacity: .9;
    position: sticky;
    top: 0;
    
    .novedad--texto{
        height: 100%;
        width: 75%;
        margin-left: 15%;
        text-align: center;
        line-height: 40px;
        color: $azulOscuro;

    }
    .novedad--check{
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        input[type=checkbox] + label i{
            cursor: pointer;
        }
        input[type=checkbox]{
            visibility: hidden;
        }
    }
}

header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: $azulOscuro;
    margin-bottom: 2px;
    z-index: 1;
    position: sticky;
    top: 0;
    box-shadow: rgba(39, 54, 68, 0.09) 0px 2px 1px, rgba(39, 54, 68, 0.09) 0px 4px 2px, rgba(39, 54, 68, 0.09) 0px 8px 4px, rgba(39, 54, 68, 0.09) 0px 16px 8px, rgba(39, 54, 68, 0.09) 0px 32px 16px;
    .logo{
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        padding: 5px;
        margin-left: 100px;
        color: $blanco;
        font-size: 30px;
        font-family: $fuente1;
    }
    .barra{
        width: 200px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        .busqueda{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px $blanco solid;
            padding-top: 12px;
            padding-left: 12px;
            transition: all .5s;
            display: flex;
            flex-direction: row;
            color: $blanco;
            &:hover{
                width: 150px;
                border-radius: 10px;
            }
            #busqueda{
                width: 100%;
                height: 100%;
                outline: none;
                background: none;
                border: none;
                padding-left: 20px;
                padding-bottom: 12px;
                color: $blanco;
                &:hover{
                    cursor: text;
                }
            }
            #busqueda:placeholder-shown{ 
                opacity: 0;
                transition: all .3s;
            }
            &:hover #busqueda:placeholder-shown{ 
                opacity: .7;
            }
        }
        .favoritos{
            height: 40px;
            width: 40px;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: $fuente1;
            color: $blanco;
            border-radius: 30px;
            margin-left: 10px;
            border: 1px $blanco solid;
            transition: all .5s;
            span{
               position: absolute;
               opacity: 0;
               transition: all .1s;
            }
            &:hover{
                width: 150px;
                border-radius: 10px;
                justify-content: flex-start;
                padding-left: 12px;
            }
            &:hover span{
                width: 50px;
                margin-left: 5px;
                position: relative;
                opacity: 1;
                transition: all .8s;
            }
        }
    }
}

main{
    width: 100%;
    .imagenes-decorativas{
        height: 90vh;
        width: 100%;
        display: grid;
        grid-template-columns: 600px 400px;
        grid-template-rows: 300px 300px;
        justify-content: center;
        margin-top: 10px;
        .imagenes-decorativas--div{
            background-color: $blanco;
            margin: 25px;
            background-position: center;
            background-size: cover;
            box-shadow: rgb(39, 54, 68, 0.25) 0px 54px 55px, rgba(39, 54, 68, 0.12) 0px -12px 30px, rgba(39, 54, 68, 0.12) 0px 4px 6px, rgba(39, 54, 68, 0.17) 0px 12px 13px, rgba(39, 54, 68, 0.09) 0px -3px 5px;
        }
        .imagen-1{
            background-image: url(../img/collaresDoradosMuestras.jpeg);
            grid-column: 1/2;
            grid-row: 1/3;
        }
        .imagen-2{
            background-image: url(../img/collarEstrellaMuestra.jpeg);
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .imagen-3{
            background-image: url(../img/collarPiedrasMuestra.jpeg);
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    .conteiner-info{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-image: url(../img/collarMandalaMuestra.jpeg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        .info{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 50px 0 150px;
            transition: all .5s;
            background-color: $azulOscuro;
            filter:opacity(80%);
            p{
                text-align: center;
                font-size: 30px;
                color: $blanco;
                font-family: $fuente1;
            }
        }
    }

    .filtros{
        margin-top: 90px;
        height: 40px;
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 150px 0 150px;
        .filtros-boton{
            height: 100%;
            width: 90px;
            border-bottom: $azul 1px solid;
            transition: all .2s;
            color: $azul;
            font-family: $fuente1;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10px; 
            &:hover{
                padding-bottom: 0;
                border-bottom: $celeste 12px solid;
                color: $celeste;
            }
        }
    }
}

.nuevos{
    height: 100vh;
    width: 100%;
    padding: 0 10% 0 10%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 70%;
    .nuevos-titulo{
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
        border-bottom: $azulOscuro 1px solid;
        color: $azulOscuro;
        font-size: 50px;
        font-family: $fuente1;
    }
    .producto{
        height: 350px;
        width: 320px;
        background-color: #34539e;
        grid-row: 2/3;
    }
}