@import "scss-parciales/header";

header .barra{
    width: 80px;
}

main{
    height: auto;
}

.menu{
    display: none;
    justify-content: center;
    align-items: center;
    .fa-caret-down{
        margin-left: 3px;
        transition: all .2s;
    }
}
#onoff{
    display: none;
}

.filtros{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
    padding-left: 30%;
    padding-right: 30%;
    font-family: $fuente2;
    transform: translateX(0%);
    transform: translateY(0%);
    input{
        visibility: hidden;
    }
    label{
        background: none;
        border: none;
        height: 22px;
        transition: all .2s;
        padding-bottom: 2px;
        font-size: 16px;
        &:hover{
            border-bottom: 2px solid $azulOscuro;
            padding-bottom: 0;
        }
        
    }
    input[type=radio]:checked + label{
        border-bottom: 4px solid $azulOscuro;
    }
    .open--filtros{
        transform: translateX(0%);
        transform: translateY(0%);
    }
}



.conteiner{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    @import "scss-parciales/productos";
}



@import "scss-parciales/footer";

@media screen and (max-width: 750px) {
    header .barra{
        position: relative;
        transform: translateY(0%);
        bottom: 0;
        right: 10px;
        height: 100%;
    }
    .menu{
        display: flex;
        top: 80px;
        height: 20px;
        width: 20px;
        color: $azulOscuro;
        font-size: 12px;
        border: none;
        background: none;
        transition: all .2s;
        position: absolute;
        z-index: 1;
        left: 30px;
        .fa-caret-down{
            transform: rotateZ(270deg);
        }
        .open{
            transform: rotateZ(90deg);
        }
    }
    .open--menu{
        left: 130px;
    }
    .conteiner{
        margin:0;
        padding-left: 10%;
    }
    main{
        min-height: calc(100vh - 70px);
    }
    .filtros{
        position: absolute;
        height: calc(100vh - 70px);
        width: 120px;
        display: flex;
        flex-direction: column;
        transition: all .2s;
        background-color: $azulOscuro;
        z-index: 5;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        color: $blanco;
        transform: translateX(-100%);
        top: 70px;
        label{
            font-size: 14px;
            margin: 5px;
            &:hover{
                border-bottom: 2px solid $celeste;
            }
        }
        input[type=radio]:checked + label{
            border-bottom: 4px solid $celeste;
        }
    }
    .open--filtros{
        transform: translateX(0%);
    }
}
@media screen and (max-width: 500px) {
    header .logo{
        margin-left: 10px;
        font-size: 16px;
    }
    header .barra{
        font-size: 16px;
    }
    .filtros{
        height: calc(100vh - 70px);
        width: 100vw;
        background-color: $azulOscuro;
        justify-content: center;
        label{
            font-size: 14px;
            max-width: 90px;
            margin: 0;
        }
    }
    .menu{
        top: 24px;
        left: calc(100% - 95px);
        font-size: 12px;
        z-index: 4;
        color: $blanco;
    }
}