@import "scss-parciales/header";



.filtros{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
    padding-left: 30%;
    padding-right: 30%;
    font-family: $fuente2;
    input{
        visibility: hidden;
    }
    label{
        background: none;
        border: none;
        height: 22px;
        transition: all .2s;
        padding-bottom: 2px;
        font-size: 16px;
        &:hover{
            border-bottom: 2px solid $azulOscuro;
            padding-bottom: 0;
        }
        
    }
    input[type=radio]:checked + label{
        border-bottom: 4px solid $azulOscuro;
    }
}



.conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    @import "scss-parciales/productos";
}



@import "scss-parciales/footer";

@media screen and(max-width: 750px) {
    .filtros{
        padding-left: 15%;
        padding-right: 15%;
        flex-wrap: wrap;
        height: 100px;
        label{
            font-size: 14px;
            margin: 10px;
        }
    }
}
@media screen and(max-width: 750px) {
    .filtros{
        padding-left: 15%;
        padding-right: 15%;
        flex-wrap: wrap;
        height: 100px;
        label{
            font-size: 14px;
            margin: 10px;
        }
    }
}
@media screen and(max-width: 632px) {
    .filtros{
        flex-wrap: wrap;
        height: 180px;
        flex-direction: column;
        align-items: center;
        label{
            font-size: 14px;
            max-width: 90px;
            margin: 0;
        }
    }
}