@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #f6f3ea;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(39, 54, 68);
  margin-bottom: 2px;
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: rgba(39, 54, 68, 0.09) 0px 2px 1px, rgba(39, 54, 68, 0.09) 0px 4px 2px, rgba(39, 54, 68, 0.09) 0px 8px 4px, rgba(39, 54, 68, 0.09) 0px 16px 8px, rgba(39, 54, 68, 0.09) 0px 32px 16px;
}
header .logo {
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #f6f3ea;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}
header .barra {
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header .barra .tienda {
  width: 80px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  color: #f6f3ea;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
header .barra .tienda a {
  padding-bottom: 2px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #f6f3ea;
  text-decoration: none;
}
header .barra .tienda div {
  height: 30px;
  position: absolute;
  width: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
header .barra .tienda:hover div {
  width: 100%;
  border-bottom: 1px solid #f6f3ea;
}
header .barra .tienda:hover a {
  letter-spacing: 2px;
}

@media screen and (min-width: 575px) {
  header .logo {
    margin-left: 40px;
    font-size: 25px;
  }
  header .barra .tienda {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  header {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  header .logo {
    margin-left: 60px;
    font-size: 40px;
  }
  header .barra {
    margin-right: 20px;
  }
  header .barra .tienda {
    font-size: 18px;
  }
  header .barra .tienda {
    width: 65px;
  }
}
main {
  height: auto;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
}
.menu .fa-caret-down {
  margin-left: 3px;
  transition: all 0.2s;
}

#onoff {
  display: none;
}

.filtros {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  padding-left: 30%;
  padding-right: 30%;
  font-family: "Cormorant Garamond", serif;
  transform: translateX(0%);
  transform: translateY(0%);
}
.filtros input {
  visibility: hidden;
}
.filtros label {
  background: none;
  border: none;
  height: 22px;
  transition: all 0.2s;
  padding-bottom: 2px;
  font-size: 16px;
}
.filtros label:hover {
  border-bottom: 2px solid rgb(39, 54, 68);
  padding-bottom: 0;
}
.filtros input[type=radio]:checked + label {
  border-bottom: 4px solid rgb(39, 54, 68);
}
.filtros .open--filtros {
  transform: translateX(0%);
  transform: translateY(0%);
}

.conteiner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
}
.conteiner .producto {
  height: 340px;
  width: 280px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
}
.conteiner .producto .producto-info {
  height: 40px;
  width: 100%;
  transition: all 0.4s;
  background-color: rgb(39, 54, 68);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f3ea;
  position: relative;
}
.conteiner .producto .producto-info .nombre {
  width: 90%;
  height: 20px;
  position: absolute;
  top: 10px;
  text-align: center;
}
.conteiner .producto .producto-info .producto-info-contenido {
  position: absolute;
  transition: all 0.2s;
  opacity: 0;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conteiner .producto .producto-info .producto-info-contenido span {
  height: 30px;
  width: 100%;
  text-align: center;
}
.conteiner .producto .producto-info .producto-info-contenido button {
  font-size: 10px;
  font-family: "Gabriela", serif;
  height: 30px;
  width: 100px;
  background: none;
  border: 1px solid #f6f3ea;
  border-radius: 15px;
  color: #f6f3ea;
  text-decoration: none;
}
.conteiner .producto .producto-info .producto-info-contenido button:hover {
  cursor: pointer;
  background-color: #f6f3ea;
  color: rgb(39, 54, 68);
}
.conteiner .producto .producto-info .producto-info-contenido button:hover span {
  cursor: pointer;
}
.conteiner .producto:hover .nombre {
  border-bottom: solid 1px #f6f3ea;
}
.conteiner .producto:hover .producto-info {
  height: 120px;
  opacity: 0.9;
}
.conteiner .producto:hover .producto-info-contenido {
  opacity: 1;
}
.conteiner .producto .producto-info-ampliado, .conteiner .producto .cerrar, .conteiner .producto .imagenes-todas, .conteiner .producto .imagenes-todas label {
  display: none;
}
.conteiner .producto-ampliado {
  width: 950px;
  height: 450px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.conteiner .producto-ampliado .producto-info {
  display: none;
}
.conteiner .producto-ampliado .producto-info-ampliado {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  background-color: rgb(39, 54, 68);
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #f6f3ea;
  position: relative;
}
.conteiner .producto-ampliado .producto-info-ampliado .nombre {
  margin-top: 20px;
  padding: 0 10px 5px 10px;
  border-bottom: #a1caf1 solid 1px;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  color: #a1caf1;
}
.conteiner .producto-ampliado .producto-info-ampliado .descripcion {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .producto-ampliado .producto-info-ampliado .descripcion input {
  visibility: hidden;
  position: absolute;
  bottom: 0;
}
.conteiner .producto-ampliado .producto-info-ampliado .descripcion .detalle:checked + label, .conteiner .producto-ampliado .producto-info-ampliado .descripcion .cuidado:checked + label {
  border-bottom: 2px solid #f6f3ea;
}
.conteiner .producto-ampliado .producto-info-ampliado .descripcion label {
  font-size: 15px;
  height: 75%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.conteiner .producto-ampliado .producto-info-ampliado .detalles, .conteiner .producto-ampliado .producto-info-ampliado .cuidados {
  position: absolute;
  font-family: "Gabriela", serif;
  top: 110px;
  width: 100%;
}
.conteiner .producto-ampliado .producto-info-ampliado .detalles li, .conteiner .producto-ampliado .producto-info-ampliado .cuidados li {
  margin-bottom: 4px;
  list-style: none;
}
.conteiner .producto-ampliado .producto-info-ampliado .detalles {
  visibility: visible;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.conteiner .producto-ampliado .producto-info-ampliado .detalles div {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.conteiner .producto-ampliado .producto-info-ampliado .detalles div span {
  font-size: 20px;
  border-bottom: 1px solid #a1caf1;
  padding-bottom: 5px;
  font-family: "Cormorant Garamond", serif;
}
.conteiner .producto-ampliado .producto-info-ampliado .cuidados {
  top: 120px;
  visibility: hidden;
  padding-left: 30px;
  padding-right: 15px;
  text-align: left;
}
.conteiner .producto-ampliado .producto-info-ampliado .cuidados li {
  margin-bottom: 14px;
}
.conteiner .producto-ampliado .producto-info-ampliado .cuidados li span {
  color: #a1caf1;
}
.conteiner .producto-ampliado .producto-info-ampliado .fade {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgb(39, 54, 68) 0%, transparent 50%);
}
.conteiner .producto-ampliado .producto-imagenes {
  height: 100%;
  width: 40%;
  background-color: #a1caf1;
  display: flex;
  flex-direction: column;
}
.conteiner .producto-ampliado .producto-imagenes .imagen-principal {
  height: 80%;
  width: 100%;
  background-color: bisque;
  background-size: cover;
  background-position: center;
}
.conteiner .producto-ampliado .producto-imagenes .imagenes-todas {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.conteiner .producto-ampliado .producto-imagenes .imagenes-todas input {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.conteiner .producto-ampliado .producto-imagenes .imagenes-todas input[type=radio]:checked + label {
  transform: scale(0.9, 0.9);
  border: 3px solid rgb(39, 54, 68);
}
.conteiner .producto-ampliado .producto-imagenes .imagenes-todas label {
  height: 100%;
  width: 25%;
  background-size: cover;
  background-position: center;
  display: flex;
  transition: all 0.1s;
}
.conteiner .producto-ampliado .producto-imagenes .imagenes-todas label:hover {
  transform: scale(0.9, 0.9);
}
.conteiner .producto-ampliado .cerrar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f3ea;
  top: 10px;
  left: 10px;
  font-size: 18px;
}
.conteiner .producto-ampliado .cerrar:hover i {
  cursor: pointer;
  font-size: 20px;
}
.conteiner .producto-ampliado .cerrar:hover {
  top: 9px;
  left: 9px;
}
@media screen and (max-width: 1080px) {
  .conteiner .producto-ampliado {
    width: 780px;
  }
}
@media screen and (max-width: 880px) {
  .conteiner .producto-ampliado {
    width: 500px;
    height: 700px;
    flex-direction: column;
  }
  .conteiner .producto-ampliado .producto-info-ampliado {
    width: 100%;
    height: 50%;
    font-size: 18px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .detalles, .conteiner .producto-ampliado .producto-info-ampliado .cuidados {
    height: 200px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .cuidados {
    font-size: 13px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .cuidados li {
    margin-bottom: 6px;
  }
  .conteiner .producto-ampliado .producto-imagenes {
    width: 100%;
    height: 50%;
    flex-direction: row;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagen-principal {
    height: 100%;
    width: 80%;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagenes-todas {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagenes-todas label {
    height: 25%;
    width: 100%;
  }
}
@media screen and (max-width: 615px) {
  .conteiner .producto-ampliado .producto-info-ampliado .descripcion {
    height: 30px;
    margin-top: 5px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .cuidados {
    height: 245px;
    top: 100px;
    padding: 0;
    padding-left: 5px;
    overflow: scroll;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .cuidados li {
    margin: 2px;
  }
}
@media screen and (max-width: 500px) {
  .conteiner .producto {
    height: 270px;
    width: 220px;
  }
  .conteiner .producto-ampliado {
    width: 350px;
    height: 600px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado {
    font-size: 13px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .descripcion {
    font-size: 15px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .detalles, .conteiner .producto-ampliado .producto-info-ampliado .cuidados {
    top: 95px;
    height: 200px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .detalles {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .detalles div {
    font-size: 14px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado .fade {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(39, 54, 68));
    z-index: 3;
    left: 0;
  }
}
@media screen and (max-width: 320px) {
  .conteiner .producto {
    height: 220px;
    width: 180px;
    margin: 10px;
  }
  .conteiner .producto-ampliado {
    width: 350px;
    height: 600px;
  }
  .conteiner .producto-ampliado .producto-info-ampliado {
    font-size: 12px;
  }
  .conteiner .producto-ampliado .producto-imagenes {
    display: flex;
    flex-direction: column;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagen-principal {
    height: 80%;
    width: 100%;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagenes-todas {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .conteiner .producto-ampliado .producto-imagenes .imagenes-todas label {
    height: 100%;
    width: 25%;
  }
}

/* Footer */
.footer {
  height: 150px;
  padding: 30px 0;
  background-color: #e4e0d6;
  display: flex;
  align-items: center;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.footer p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  color: #938560;
}

.social-icons {
  display: flex;
  column-gap: 15px;
}

.social-link {
  background-color: #b1a891;
  text-decoration: none;
  color: #e4e0d6;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.social-link i {
  cursor: pointer;
}
.social-link i.fa-instagram {
  font-size: 1.6rem;
}

.social-link:hover {
  background-color: #9e9378;
}

@media screen and (max-width: 672px) {
  .footer-container {
    justify-content: center;
    row-gap: 20px;
  }

  .footer p {
    text-align: center;
  }
}
/* End of Footer */
@media screen and (max-width: 750px) {
  .menu {
    display: flex;
    top: 80px;
    height: 20px;
    width: 20px;
    color: rgb(39, 54, 68);
    font-size: 12px;
    border: none;
    background: none;
    transition: all 0.2s;
    position: absolute;
    z-index: 1;
    left: 30px;
  }
  .menu .fa-caret-down {
    transform: rotateZ(270deg);
  }
  .menu .open {
    transform: rotateZ(90deg);
  }

  .open--menu {
    left: 130px;
  }

  .conteiner {
    margin: 0;
    padding-left: 10%;
  }

  main {
    min-height: calc(100vh - 70px);
  }

  .filtros {
    position: absolute;
    height: calc(100vh - 70px);
    width: 120px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    background-color: rgb(39, 54, 68);
    z-index: 5;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    color: #f6f3ea;
    transform: translateX(-100%);
    top: 70px;
  }
  .filtros label {
    font-size: 14px;
    margin: 5px;
  }
  .filtros label:hover {
    border-bottom: 2px solid #a1caf1;
  }
  .filtros input[type=radio]:checked + label {
    border-bottom: 4px solid #a1caf1;
  }

  .open--filtros {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 500px) {
  .filtros {
    height: calc(100vh - 70px);
    width: 100vw;
    background-color: rgb(39, 54, 68);
    justify-content: center;
  }
  .filtros label {
    font-size: 14px;
    max-width: 90px;
    margin: 0;
  }

  .menu {
    top: 24px;
    left: calc(100% - 110px);
    font-size: 12px;
    z-index: 4;
    color: #f6f3ea;
  }
}

/*# sourceMappingURL=tienda.css.map */
